node {
    size: 60px;
    fill-color: white;
    stroke-mode: plain;
    stroke-width: 2;
    text-size: 16;
    text-style: bold;
}

node.start {
    stroke-width: 3;
    stroke-color: green;
}

node.selected {
    fill-color: red;
}

node.child {
    fill-color: rgb(255, 255, 164);
}

node.path {
    stroke-color: #ff5353;
    stroke-width: 3;
    fill-color: rgb(255, 255, 164);
}

edge {
    text-size: 12;
    text-alignment: along;
    text-offset: 0, -10;
    stroke-mode: plain;
}

edge.selected {
    stroke-width: 3;
    fill-color: #ff5353;
}

sprite {
    text-size: 16;
    text-style: bold;
    fill-color: rgba(0,0,0,0);
}

sprite.old {
    text-color: red;
    text-size: 12;
}

sprite.current {
    text-color: rgb(0,82,0);
}